/* The 12-column Deco Grid System. 
 * For the 16-column variant, see decogrids-16.css.
 *
 * Cells are 8.33% width. No margins
 * 
 * If page width is fixed to 960px width:
 * Cell will be roughly equivalent to 80px. No margins.
 */

.row {
  float: left;
  width: 100%;
  display: block;
  position: relative;
}
.cell {
  position: relative;
  float: left;
  left: 100%;
}

/* Width classes. */
.width-1  { width: 8.333%   }
.width-2  { width: 16.666%  }
.width-3  { width: 25%  }
.width-4  { width: 33.333%  }
.width-5  { width: 41.666%  }
.width-6  { width: 50%  }
.width-7  { width: 58.333%  }
.width-8  { width: 66.666%  }
.width-9  { width: 75%  }
.width-10 { width: 83.333%  }
.width-11 { width: 91.666%  }
.width-12 { width: 100%    }


/* Positioning classes, these are subtracting from a rightmost 
   position, which is why they seem the wrong way around */
/* For a given position, the calculation is margin-left: -100 + (8.33*n) */
.position-0  { margin-left: -100%   }
.position-1  { margin-left: -91.666% }
.position-2  { margin-left: -83.333% }
.position-3  { margin-left: -75% }
.position-4  { margin-left: -66.666% }
.position-5  { margin-left: -58.333% }
.position-6  { margin-left: -50% }
.position-7  { margin-left: -41.666% }
.position-8  { margin-left: -33.333% }
.position-9  { margin-left: -25% }
.position-10 { margin-left: -16.666% }
.position-11 { margin-left: -8.333%  }


/* End of the core Deco Grid System */

/* Convenience classes — ¼, ½, ¾ widths and ¼, ½, ¾ positions. 
   Not strictly necessary. */
.width-1\3a 2 { width:    50%; } /* .width-1:2 */
.width-1\3a 4 { width:    25%; } /* .width-1:4 */
.width-3\3a 4 { width:    75%; } /* .width-3:4 */
.position-1\3a 4 {margin-left:    -75%;} /* .position-1:4 */
.position-1\3a 2 {margin-left:    -50%;} /* .position-1:2 */
.position-3\3a 4 {margin-left:    -25%;} /* .position-3:4 */


/* Special classes for ⅓, ⅔ widths and ⅓, ⅔ positions. 
These do not strictly conform to the grid, but are useful for certain layouts. */
.width-1\3a 3 { width: 33.33%; } /* .width-1:3 */
.width-2\3a 3 { width: 66.66%; } /* .width-2:3 */
.position-1\3a 3 {margin-left: -66.66%;} /* .position-1:3 */
.position-2\3a 3 {margin-left: -33.33%;} /* .position-2:3 */
